# Build, run tests, deploy, and more: https://aka.ms/yaml.

trigger:
  batch: false
  branches:
    include:
    - master

# Enable PR triggers that target the master branch
pr:
  autoCancel: true # cancel previous builds on push
  branches:
    include:
    - master

strategy:
  matrix:
    linux-head-88:
      image: "Ubuntu 16.04"
      stack: "stack.yaml"
    windows-head-88:
      image: "vs2017-win2016"
      stack: "stack.yaml"
    mac-head-88:
      image: "macOS-10.14"
      stack: "stack.yaml"

    linux-881-88:
      image: "Ubuntu 16.04"
      stack: "stack-808-808-ghc-lib.yaml"
    windows-881-88:
      image: "vs2017-win2016"
      stack: "stack-808-808-ghc-lib.yaml"
    mac-881-88:
      image: "macOS-10.14"
      stack: "stack-808-808-ghc-lib.yaml"
    linux-881-88-da:
      image: "Ubuntu 16.04"
      stack: "stack-da-8.8.1.20200122.yaml"
    windows-881-88-da:
      image: "vs2017-win2016"
      stack: "stack-da-8.8.1.20200122.yaml"
    mac-881-88-da:
      image: "macOS-10.14"
      stack: "stack-da-8.8.1.20200122.yaml"

    linux-810-88-no-ghc-lib:
      image: "Ubuntu 16.04"
      stack: "stack-810-808-no-ghc-lib.yaml"
    windows-810-88-no-ghc-lib:
      image: "vs2017-win2016"
      stack: "stack-810-808-no-ghc-lib.yaml"
    mac-810-88-no-ghc-lib:
      image: "macOS-10.14"
      stack: "stack-810-808-no-ghc-lib.yaml"

pool: {vmImage: '$(image)'}

steps:
  # macOS
  - bash: |
      /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      brew install autoconf automake
      brew upgrade gmp
    condition: eq( variables['Agent.OS'], 'Darwin' )
    displayName: Install brew

  - script: |
      set -eou pipefail
      curl -sSL https://get.haskellstack.org/ | sh
      stack --stack-yaml=$(stack) setup > /dev/null
      curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s . '--cpp-include cbits' '--cpp-define GHCLIB_API_808'
      curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s . '--cpp-include cbits' '--cpp-define GHCLIB_API_810'
      curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s . '--cpp-include cbits' '--cpp-define GHCLIB_API_811'
      stack runhaskell --stack-yaml=$(stack) --package extra --package optparse-applicative CI.hs -- --stack-yaml=$(stack)
