name: 8.8.1.20191204
on:
  push:
jobs:
  runhaskell:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        id: setup-haskell
        with:
          ghc-version: 8.4.3
          cabal-version: 'latest'
      - name: Run CI.hs
        shell: bash
        run: cabal test test-suite:ghc-lib-parser-ex-test --allow-older="ghc-lib-parser-ex:ghc-lib-parser" --constraint="ghc-lib-parser == 8.8.1.20191204"
